RewriteEngine on

RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^.*$  -  [L]
RewriteCond %{REQUEST_URI} /stats
RewriteRule  ^.*$  -  [L]
RewriteRule ^.*$  index.php [L]
php_value memory_limit 1G
php_value max_execution_time 300
