RewriteEngine on

RewriteCond %{HTTP_HOST} =127.0.0.1
RewriteCond %{REQUEST_URI} /server-status
RewriteRule ^.*$ - [L]
RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^.*$  -  [L]
RewriteCond %{REQUEST_URI} /stats
RewriteRule  ^.*$  -  [L]
RewriteRule ^.*$  index.php [L]
php_value memory_limit 1G
php_value max_execution_time 900
