{
    "swagger": "2.0",
    "host": "beta.openphacts.org",
    "basePath": "/2.1",
    "schemes": [
        "https"
    ],
    "info": {
        "title": "Open PHACTS API development version",
        "version": "2.1"
    },
    "paths": {
        "/compound": {
            "get": {
                "summary": "Compound Information",
          "description":  "Returns information about a single compound including (but not limited to): molecular weight, biotransformation, protein binding and toxicity. Adverse event data (AERS) is returned where available, as well as drug/drug interactions.<br><hr><br>Response template: <br><br><hr><br>  ?ops_item <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?cw_compound_uri </span> .<br> ?cw_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?compound_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.conceptwiki.org&#xfeff;&gt; </span> .<br> ?ops_item <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?ocrs_compound_uri </span> .<br> ?ocrs_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:smiles ?smiles </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchi ?inchi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchikey ?inchiKey </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:logp ?alogp </span> ;<br> ops:hb <span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?hba </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:hbd ?hbd </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:ro5_violations ?num_ro5_violations </span> ;<br> ops:ps <span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?psa </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:rtb ?rtb </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:molweight ?molweight </span> ;<br> ops:molformul <span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?molformula </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://ops.rsc.org&#xfeff;&gt; </span> .<br> ?ops_item <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?chembl_compound_uri </span> .<br> ?chembl_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ?bNode1 ?mw_freebase </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?mol_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?ops_item <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?db_compound_uri </span> .<br> ?db_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:metabolism ?metabolism </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:description ?description </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:proteinBinding ?proteinBinding </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:toxicity ?toxicity </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:meltingPoint ?meltingPoint </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> drugbank:genericName ?drug_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> drugbank:drugType ?drugType </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> ops:drugInteraction ?interaction </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.openphacts.org/bio2rdf/drugbank&#xfeff;&gt; </span> .<br> ?interaction <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:interactingDrug ?interacting_drug </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:text ?interaction_text </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.openphacts.org/bio2rdf/drugbank&#xfeff;&gt; </span> .<br> ?ops_item <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?aers_compound_uri </span> .<br> ?aers_compound_uri <span style=\"BACKGROUND-COLOR: #FFCC99\"> ops:reportedAdverseEvent ?event </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?aers_drug_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://aers.data2semantics.org/&#xfeff;&gt; </span> .<br> ?event <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?event_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://aers.data2semantics.org/&#xfeff;&gt; </span> .<br> ?ops_item <span style=\"BACKGROUND-COLOR: #FFCC99\">skos:exactMatch ?schembl_compound_uri</span> .<br> ?schembl_compound_uri  <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:smiles ?s_smiles </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchi ?s_inchi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchiKey ?s_inchiKey </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:logp ?s_logp </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:molweight ?s_molweight </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:hbd ?s_hbd </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:hba ?s_hba </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:rings ?s_rings </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:rotable_bonds ?s_rotable_bonds </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://rdf.ebi.ac.uk/dataset/surechembl/1.1/void.ttl#surechembl_rdf_molecule_dataset&#xfeff;&gt; .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A compound URI.",
                        "default": "http://www.conceptwiki.org/concept/38932552-111f-4a4e-a46a-4ed1d7bdf9d5",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/batch": {
            "get": {
                "summary": "Compound Information: Batch",
          "description":  "Information about compounds provided in a list sperated by '|'.<br><hr><br>Response template: <br><br><hr><br>  ?ims_cw_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?compound_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.conceptwiki.org&#xfeff;&gt; </span> .<br> ?ims_ocrs_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:smiles ?smiles </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchi ?inchi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchikey ?inchiKey </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:logp ?alogp </span> ;<br> ops:hb <span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?hba </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:hbd ?hbd </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:ro5_violations ?num_ro5_violations </span> ;<br> ops:ps <span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?psa </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:rtb ?rtb </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:molweight ?molweight </span> ;<br> ops:molformul <span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?molformula </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://ops.rsc.org&#xfeff;&gt; </span> .<br> ?ims_chembl_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ?bNode1 ?mw_freebase </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> a ?mol_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?ims_db_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:biotransformation ?biotransformation </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:description ?description </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:proteinBinding ?proteinBinding </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:toxicity ?toxicity </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:meltingPoint ?meltingPoint </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> ops:drugInteraction ?interaction </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.openphacts.org/bio2rdf/drugbank&#xfeff;&gt; </span> .<br> ?interaction <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:interactingDrug ?interacting_drug </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:text ?interaction_text </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.openphacts.org/bio2rdf/drugbank&#xfeff;&gt; </span> .<br> ?ims_schembl_compound_uri  <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:smiles ?s_smiles </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;    <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchi ?s_inchi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchiKey ?s_inchiKey </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;    <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:logp ?s_logp </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:molweight ?s_molweight </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:hbd ?s_hbd </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;    <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:hba ?s_hba </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:rings ?s_rings </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;    <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:rotable_bonds ?s_rotable_bonds </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;    <span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://rdf.ebi.ac.uk/dataset/surechembl/1.1/void.ttl#surechembl_rdf_molecule_dataset&#xfeff;&gt; .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri_list",
                        "description": "A list of compound URIs separated by '|' characters",
                        "default": "http://www.conceptwiki.org/concept/38932552-111f-4a4e-a46a-4ed1d7bdf9d5|http://www.conceptwiki.org/concept/dd758846-1dac-4f0d-a329-06af9a7fa413",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/members/count": {
            "get": {
                "summary": "Compound Class Members: Count",
                "description": "The number of compounds classified with the given class in the supported hierarchies. Currently the only supported hierarchy is the ChEBI Ontology.<br><hr><br>Response template: <br><br><hr><br>  ?ops_item <span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:memberCount ?count </span> .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A class URI from one of the supported hierarchies.",
                        "default": "http://purl.obolibrary.org/obo/CHEBI_24431",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/members/pages": {
            "get": {
                "summary": "Compound Class Members: List",
                "description": "A list of compounds classified with the given class in the supported hierarchies. Currently the only supported hierarchy is the ChEBI Ontology.<br><hr><br>Response template: <br><br><hr><br>  ?item <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?compound_ocrs </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp; <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?compound_cw </span> .<br> ?compound_cw <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?compound_name</span>.",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A class URI from one of the supported hierarchies.",
                        "type": "string",
                        "default": "http://purl.obolibrary.org/obo/CHEBI_24431",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "_page",
                        "description": "A number; the page that should be viewed",
                        "type": "integer",
                        "in": "query"
                    },
                    {
                        "name": "_pageSize",
                        "description": "The desired page size. Set to all to retrieve all results in a single page. Default: 10.",
                        "type": "integer",
                        "in": "query"
                    },
                    {
                        "name": "_pageSize",
                        "description": "The desired page size. Set to all to retrieve all results in a single page. Default: 10.",
                        "enum": [
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_orderBy",
                        "description": "The desired variable to sort by. Multiple values can be specified seperated by spaces. Direction of sort can be specified with ASC(?var) and DESC(?var). Default is ascending",
                        "enum": [
                            "?child_node",
                            "DESC(?child_node)",
                            "?compound_name",
                            "DESC(?compound_name)",
                            "?cw_compound",
                            "DESC(?cw_compound)",
                            "?item",
                            "DESC(?item)",
                            "?node_uri",
                            "DESC(?node_uri)",
                            "?ocrs_compound",
                            "DESC(?ocrs_compound)"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/classifications": {
            "get": {
                "summary": "Compound Classifications",
                "description": "The classes the given compound URI has been classified with. Currently supported hierarchies are the ChEBI Ontology and the Gene Ontology. <br><hr><br>Response template: <br><br><hr><br>  ?ops_item <span style=\"BACKGROUND-COLOR: #A9A9F5\"> skos:exactMatch ?chembl_compound_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?cw_compound_uri </span> .<br> ?chembl_compound_uri <span style=\"BACKGROUND-COLOR: #A9A9F5\"> ops:hasChebiClassification ?chebi_class </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> ops:hasChebiClassification ?chebi_other_class </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?chebi_input <span style=\"BACKGROUND-COLOR: #FFCC99\"> ops:hasGoClassification ?go_class </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> skos:prefLabel ?chebi_input_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.geneontology.org&#xfeff;&gt; </span> .<br> ?go_input <span style=\"BACKGROUND-COLOR: #FFCC99\"> ops:hasChebiClassification ?chebi_class </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?go_input_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?cw_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?cw_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.conceptwiki.org&#xfeff;&gt; </span> .<br> ?chebi_class <span style=\"BACKGROUND-COLOR: #66FFCC\"> skos:prefLabel ?chebi_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:classificationType rdf:type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chebi&#xfeff;&gt; </span> .<br> rdf:type <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel 'Type' </span> .<br> ?chebi_other_class <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?chebi_other_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:classificationType ?chebi_class_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chebi&#xfeff;&gt; </span> .<br> ?chebi_class_type <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?chebi_class_type_label </span> .<br> ?go_class <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?go_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.geneontology.org&#xfeff;&gt; </span> .<br> &lt;http://www.ebi.ac.uk/chebi&#xfeff;&gt; <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel 'ChEBI Ontology' </span> .<br> &lt;http://www.geneontology.org&#xfeff;&gt; <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel 'GeneOntology' </span> .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A compound URI",
                        "default": "http://www.conceptwiki.org/concept/38932552-111f-4a4e-a46a-4ed1d7bdf9d5",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "tree",
                        "description": "Restrict results by hierarchy.",
                        "required": false,
                        "enum": [
                            "chebi",
                            "go"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/classificationsForTargets": {
            "get": {
                "summary": "Classification of Targets for Compound",
                "description": "The hierarchy of classes for the different Targets that interact with a given Compound. Currently supported hierarchies are the Enzyme Classification, the ChEMBL Target Tree and the Gene Ontology. <br><hr><br>Response template: <br><br><hr><br>  ?ops_item <span style=\"BACKGROUND-COLOR: #A9A9F5\"> skos:exactMatch ?chembl_compound_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?cw_compound_uri </span> .<br> ?chembl_compound_uri <span style=\"BACKGROUND-COLOR: #A9A9F5\"> ops:interactsWithTargetOfClass ?class </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?cw_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?cw_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.conceptwiki.org&#xfeff;&gt; </span> .<br> ?class <span style=\"BACKGROUND-COLOR: #66FFCC\"> skos:prefLabel ?class_label </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset ?g </span> .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A compound URI.",
                        "default": "http://ops.rsc.org/OPS6958",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "tree",
                        "description": "Restrict results by hierarchy. Currently one of 'chembl', 'enzyme', 'go'",
                        "required": false,
                        "enum": [
                            "chembl",
                            "enzyme",
                            "go"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "target_organism",
                        "description": "A literal target organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_type",
                        "description": "One of the activity types listed at /pharmacology/filters/activities",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_value",
                        "description": "Return activity values equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-activity_value",
                        "description": "Return activity values greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-activity_value",
                        "description": "Return activity values greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-activity_value",
                        "description": "Return activity values less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-activity_value",
                        "description": "Return activity values less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "activity_unit",
                        "required": false,
                        "enum": [
                            "centimeter",
                            "day",
                            "degree_celsius",
                            "gram",
                            "gram_per_liter",
                            "hour",
                            "international_unit_per_liter",
                            "kilogram",
                            "liter",
                            "microgram_per_milliliter",
                            "micrometer",
                            "micromolar",
                            "milligram_per_deciliter",
                            "milligram_per_milliliter",
                            "millimeter",
                            "millimolar",
                            "milli_second",
                            "minute_time",
                            "molar",
                            "nanogram_per_milliliter",
                            "nanomolar",
                            "percent",
                            "picogram_per_milliliter",
                            "picomolar",
                            "second_time"
                        ],
                        "description": "The unit in which {activity_value} is given. See /pharmacology/filters/units/pages?activity_type={activity_type} for allowed values. For e.g. IC50: /pharmacology/filters/units/pages?activity_type=IC50",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_relation",
                        "description": "The relation reported. e.g. '>' for IC50 > X",
                        "required": false,
                        "enum": [
                            ">",
                            ">=",
                            "=",
                            "<",
                            "<="
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "assay_organism",
                        "description": "A literal organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "pChembl",
                        "description": "Return activities with a pChembl value equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-pChembl",
                        "description": "Return activities with a pChembl value greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-pChembl",
                        "description": "Return activities with a pChembl value greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-pChembl",
                        "description": "Return activities with a pChembl value less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-pChembl",
                        "description": "Return activities with a pChembl value less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/pharmacology/count": {
            "get": {
                "summary": "Compound Pharmacology: Count",
                "description": "Returns the total number of activity values in the linked data cache (LDC) for a user specified compound. Filtering of results is possible via a variety of options such as: target organism, activity type, activity value, etc.<br><hr><br>Response template: <br><br><hr><br>  ?ops_item <span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:compoundPharmacologyTotalResults ?count </span> .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A compound URI.",
                        "default": "http://www.conceptwiki.org/concept/38932552-111f-4a4e-a46a-4ed1d7bdf9d5",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "assay_organism",
                        "description": "A literal organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "target_organism",
                        "description": "A literal target organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_type",
                        "description": "One of the activity types listed at /pharmacology/filters/activities",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_value",
                        "description": "Return activity values equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-activity_value",
                        "description": "Return activity values greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-activity_value",
                        "description": "Return activity values greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-activity_value",
                        "description": "Return activity values less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-activity_value",
                        "description": "Return activity values less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "activity_unit",
                        "required": false,
                        "enum": [
                            "centimeter",
                            "day",
                            "degree_celsius",
                            "gram",
                            "gram_per_liter",
                            "hour",
                            "international_unit_per_liter",
                            "kilogram",
                            "liter",
                            "microgram_per_milliliter",
                            "micrometer",
                            "micromolar",
                            "milligram_per_deciliter",
                            "milligram_per_milliliter",
                            "millimeter",
                            "millimolar",
                            "milli_second",
                            "minute_time",
                            "molar",
                            "nanogram_per_milliliter",
                            "nanomolar",
                            "percent",
                            "picogram_per_milliliter",
                            "picomolar",
                            "second_time"
                        ],
                        "description": "The unit in which {activity_value} is given. See /pharmacology/filters/units/pages?activity_type={activity_type} for allowed values. For e.g. IC50: /pharmacology/filters/units/pages?activity_type=IC50",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_relation",
                        "description": "The relation reported. e.g. '>' for IC50 > X",
                        "required": false,
                        "enum": [
                            ">",
                            ">=",
                            "=",
                            "<",
                            "<="
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "pChembl",
                        "description": "Return activities with a pChembl value equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-pChembl",
                        "description": "Return activities with a pChembl value greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-pChembl",
                        "description": "Return activities with a pChembl value greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-pChembl",
                        "description": "Return activities with a pChembl value less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-pChembl",
                        "description": "Return activities with a pChembl value less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "target_type",
                        "description": "One of the types listed at /target/types.",
                        "required": false,
                        "enum": [
                            "admet",
                            "chimeric_protein",
                            "nucleic_acid",
                            "organism",
                            "phenotype",
                            "ppi",
                            "protein_complex",
                            "protein_complex_group",
                            "protein_family",
                            "protein_selectivity_group",
                            "single_protein",
                            "sub_cellular",
                            "tissue",
                            "unclassified",
                            "unknown"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "data_validity_issue",
                        "description": "ChEMBL data validity issue annotation. One of: true, false.",
                        "required": false,
                        "enum": [
                            "true",
                            "false"
                        ],
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "data_validity_comment",
                        "description": "ChEMBL data validity issue annotation. One of: 'Manually validated', 'Non standard unit for type','Outside typical range' ,'Potential missing data', 'Potential transcription error', 'Potential author error', 'Author confirmed error'.",
                        "required": false,
                        "enum": [
                            "Manually validated",
                            "Non standard unit for type",
                            "Outside typical range",
                            "Potential missing data",
                            "Potential transcription error",
                            "Potential author error",
                            "Author confirmed error"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "potential_duplicate",
                        "description": "ChEMBL potential duplicate annotation. One of: true, false.",
                        "required": false,
                        "enum": [
                            "true",
                            "false"
                        ],
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "target_conf_score",
                        "description": "ChEMBL Target confidence score. An integer denoting the confidence of the target assigned. 0: Default value - Target unknown or has yet to be assigned; 1: Target assigned is non-molecular; 2: Target assigned is subcellular fraction; 3: Target assigned is molecular non-protein target; 4: Multiple homologous protein targets may be assigned; 5: Multiple direct protein targets may be assigned; 6: Homologous protein complex subunits assigned; 7: Direct protein complex subunits assigned; 8: Homologous single protein target assigned; 9: Direct single protein target assigned",
                        "required": false,
                        "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9"
                        ],
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "target_rel_type",
                        "description": "ChEMBL Assay relationship type annotation. A single capital letter as follows. U: Default value - Target has yet to be curated; D: Direct protein target assigned; H: Homologous protein target assigned; M: Molecular target other than protein assigned; N: Non-molecular target assigned; S: Subcellular target assigned",
                        "required": false,
                        "enum": [
                            "U",
                            "D",
                            "H",
                            "M",
                            "N",
                            "S"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/pharmacology/pages": {
            "get": {
                "summary": "Compound Pharmacology: List",
                "description": "Returns a variety of pharmacological data, including assay and activity information, for a user specified compound. Filtering of results is possible via a variety of options such as: target organism, activity type, activity value, etc.<br><hr><br>Response template: <br><br><hr><br>  ?item <span style=\"BACKGROUND-COLOR: #66FFCC\"> chembl:hasMolecule ?chembl_compound_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> chembl:standardType ?activity_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:standardRelation ?activity_relation </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:standardValue ?activity_value </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:hasQUDT ?qudt_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedType ?published_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedRelation ?published_relation </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedValue ?published_value </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedUnits ?published_unit </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:pChembl ?pChembl </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:activityComment ?act_comment </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:dataValidityIssue ?issue </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:dataValidityComment ?comment </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:potentialDuplicate ?dup </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> chembl:hasAssay ?assay_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> chembl:hasDocument ?doi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> bibo:pmid ?pmid </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?qudt_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?activity_unit </span> .<br> ?assay_uri <span style=\"BACKGROUND-COLOR: #66FFCC\"> chembl:hasTarget ?target_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:assayOrganismName ?assay_organism </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:assayTestType ?assay_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> dcterms:description ?assay_description </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:targetConfDesc ?conf_desc </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:targetConfScore ?conf_score </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:targetRelType ?rel_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:targetRelDesc ?rel_desc </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?target_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> dcterms:title ?target_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:organismName ?target_organism </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFCC99\"> chembl:hasTargetComponent ?protein </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> a ?target_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?chembl_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:exactMatch ?cw_compound_uri </span> .<br> ?protein <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:exactMatch ?cw_target </span> .<br> ?cw_target <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?protein_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.conceptwiki.org&#xfeff;&gt; </span> .<br> ?cw_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?compound_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://www.conceptwiki.org&#xfeff;&gt; </span> .<br> ?chembl_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:exactMatch ?ocrs_compound_uri </span> .<br> ?ocrs_compound_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:smiles ?smiles </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchi ?inchi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:inchikey ?inchiKey </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:molweight ?molweight </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> ops:ro5_violations ?num_ro5_violations </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> void:inDataset &lt;http://ops.rsc.org&#xfeff;&gt; </span> .<br> ?chembl_compound_uri <span style=\"BACKGROUND-COLOR: #FFCC99\"> skos:exactMatch ?db_compound_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?db_compound_uri <span style=\"BACKGROUND-COLOR: #FFCC99\"> drugbank:drugType ?drugType </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> drugbank:genericName ?drug_name </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.openphacts.org/bio2rdf/drugbank&#xfeff;&gt; </span> .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A compound URI.",
                        "default": "http://www.conceptwiki.org/concept/38932552-111f-4a4e-a46a-4ed1d7bdf9d5",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "target_organism",
                        "description": "A literal target organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_type",
                        "description": "One of the activity types listed at /pharmacology/filters/activities",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_value",
                        "description": "Return activity values equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-activity_value",
                        "description": "Return activity values greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-activity_value",
                        "description": "Return activity values greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-activity_value",
                        "description": "Return activity values less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-activity_value",
                        "description": "Return activity values less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "activity_unit",
                        "required": false,
                        "enum": [
                            "centimeter",
                            "day",
                            "degree_celsius",
                            "gram",
                            "gram_per_liter",
                            "hour",
                            "international_unit_per_liter",
                            "kilogram",
                            "liter",
                            "microgram_per_milliliter",
                            "micrometer",
                            "micromolar",
                            "milligram_per_deciliter",
                            "milligram_per_milliliter",
                            "millimeter",
                            "millimolar",
                            "milli_second",
                            "minute_time",
                            "molar",
                            "nanogram_per_milliliter",
                            "nanomolar",
                            "percent",
                            "picogram_per_milliliter",
                            "picomolar",
                            "second_time"
                        ],
                        "description": "The unit in which {activity_value} is given. See /pharmacology/filters/units/pages?activity_type={activity_type} for allowed values. For e.g. IC50: /pharmacology/filters/units/pages?activity_type=IC50",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_relation",
                        "description": "The relation reported. e.g. '>' for IC50 > X",
                        "required": false,
                        "enum": [
                            ">",
                            ">=",
                            "=",
                            "<",
                            "<="
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "assay_organism",
                        "description": "A literal assay organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "pChembl",
                        "description": "Return activities with a pChembl value equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-pChembl",
                        "description": "Return activities with a pChembl value greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-pChembl",
                        "description": "Return activities with a pChembl value greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-pChembl",
                        "description": "Return activities with a pChembl value less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-pChembl",
                        "description": "Return activities with a pChembl value less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "target_type",
                        "description": "One of the types listed at /target/types.",
                        "required": false,
                        "enum": [
                            "admet",
                            "chimeric_protein",
                            "nucleic_acid",
                            "organism",
                            "phenotype",
                            "ppi",
                            "protein_complex",
                            "protein_complex_group",
                            "protein_family",
                            "protein_selectivity_group",
                            "single_protein",
                            "sub_cellular",
                            "tissue",
                            "unclassified",
                            "unknown"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "data_validity_issue",
                        "description": "ChEMBL data validity issue annotation. One of: true, false.",
                        "required": false,
                        "enum": [
                            "true",
                            "false"
                        ],
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "data_validity_comment",
                        "description": "ChEMBL data validity issue annotation. One of: 'Manually validated', 'Non standard unit for type','Outside typical range' ,'Potential missing data', 'Potential transcription error', 'Potential author error', 'Author confirmed error'.",
                        "required": false,
                        "enum": [
                            "Manually validated",
                            "Non standard unit for type",
                            "Outside typical range",
                            "Potential missing data",
                            "Potential transcription error",
                            "Potential author error",
                            "Author confirmed error"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "potential_duplicate",
                        "description": "ChEMBL potential duplicate annotation. One of: true, false.",
                        "required": false,
                        "enum": [
                            "true",
                            "false"
                        ],
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "target_conf_score",
                        "description": "ChEMBL Target confidence score. An integer denoting the confidence of the target assigned. 0: Default value - Target unknown or has yet to be assigned; 1: Target assigned is non-molecular; 2: Target assigned is subcellular fraction; 3: Target assigned is molecular non-protein target; 4: Multiple homologous protein targets may be assigned; 5: Multiple direct protein targets may be assigned; 6: Homologous protein complex subunits assigned; 7: Direct protein complex subunits assigned; 8: Homologous single protein target assigned; 9: Direct single protein target assigned",
                        "required": false,
                        "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9"
                        ],
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "target_rel_type",
                        "description": "ChEMBL Assay relationship type annotation. A single capital letter as follows. U: Default value - Target has yet to be curated; D: Direct protein target assigned; H: Homologous protein target assigned; M: Molecular target other than protein assigned; N: Non-molecular target assigned; S: Subcellular target assigned",
                        "required": false,
                        "enum": [
                            "U",
                            "D",
                            "H",
                            "M",
                            "N",
                            "S"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "_page",
                        "description": "A number; the page that should be viewed",
                        "type": "integer",
                        "in": "query"
                    },
                    {
                        "name": "_pageSize",
                        "description": "The desired page size. Set to all to retrieve all results in a single page. Default: 10.",
                        "type": "integer",
                        "in": "query"
                    },
                    {
                        "name": "_pageSize",
                        "description": "The desired page size. Set to all to retrieve all results in a single page. Default: 10.",
                        "enum": [
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_orderBy",
                        "description": "The desired variable to sort by. Multiple values can be specified seperated by spaces. Direction of sort can be specified with ASC(?var) and DESC(?var). Default is ascending",
                        "enum": [
                            "?act_comment",
                            "DESC(?act_comment)",
                            "?activity_relation",
                            "DESC(?activity_relation)",
                            "?activity_type",
                            "DESC(?activity_type)",
                            "?activity_unit",
                            "DESC(?activity_unit)",
                            "?activity_value",
                            "DESC(?activity_value)",
                            "?assay_description",
                            "DESC(?assay_description)",
                            "?assay_organism",
                            "DESC(?assay_organism)",
                            "?assay_type",
                            "DESC(?assay_type)",
                            "?assay_uri",
                            "DESC(?assay_uri)",
                            "?chembl_compound_uri",
                            "DESC(?chembl_compound_uri)",
                            "?compound_name",
                            "DESC(?compound_name)",
                            "?cw_compound_uri",
                            "DESC(?cw_compound_uri)",
                            "?cw_target",
                            "DESC(?cw_target)",
                            "?db_compound_uri",
                            "DESC(?db_compound_uri)",
                            "?doc_uri",
                            "DESC(?doc_uri)",
                            "?doi",
                            "DESC(?doi)",
                            "?drug_name",
                            "DESC(?drug_name)",
                            "?drugType",
                            "DESC(?drugType)",
                            "?inchi",
                            "DESC(?inchi)",
                            "?inchiKey",
                            "DESC(?inchiKey)",
                            "?item",
                            "DESC(?item)",
                            "?molweight",
                            "DESC(?molweight)",
                            "?num_ro5_violations",
                            "DESC(?num_ro5_violations)",
                            "?ocrs_compound_uri",
                            "DESC(?ocrs_compound_uri)",
                            "?pChembl",
                            "DESC(?pChembl)",
                            "?pmid",
                            "DESC(?pmid)",
                            "?protein",
                            "DESC(?protein)",
                            "?protein_name",
                            "DESC(?protein_name)",
                            "?published_relation",
                            "DESC(?published_relation)",
                            "?published_type",
                            "DESC(?published_type)",
                            "?published_unit",
                            "DESC(?published_unit)",
                            "?published_value",
                            "DESC(?published_value)",
                            "?qudt_uri",
                            "DESC(?qudt_uri)",
                            "?smiles",
                            "DESC(?smiles)",
                            "?standard_value",
                            "DESC(?standard_value)",
                            "?target_name",
                            "DESC(?target_name)",
                            "?target_organism",
                            "DESC(?target_organism)",
                            "?target_type",
                            "DESC(?target_type)",
                            "?target_uri",
                            "DESC(?target_uri)"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/tree/pharmacology/count": {
            "get": {
                "summary": "Compound Class Pharmacology: Count",
                "description": "Returns the total number of activity values in the linked data cache (LDC) for a user specified compound class. Filtering of results is possible via a variety of options such as: target organism, activity type, activity value, etc. Currently only the ChEBI Ontology is supported. <br><hr><br>Response template: <br><br><hr><br>  ?ops_item <span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:compoundPharmacologyTotalResults ?count </span> .<br> ",
                "tags": [
                    "Compound"
                ],
                "parameters": [
                    {
                        "name": "uri",
                        "description": "A ChEBI Class URI.",
                        "default": "http://purl.obolibrary.org/obo/CHEBI_100",
                        "type": "string",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "app_id",
                        "description": "Your access application id",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_ids"
                    },
                    {
                        "name": "app_key",
                        "description": "Your access application key",
                        "required": true,
                        "type": "string",
                        "in": "query",
                        "x-data-threescale-name": "app_keys"
                    },
                    {
                        "name": "target_organism",
                        "description": "A literal target organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "assay_organism",
                        "description": "A literal organism in ChEMBL.",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_type",
                        "description": "One of the activity types listed at /pharmacology/filters/activities",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_value",
                        "description": "Return activity values equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-activity_value",
                        "description": "Return activity values greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-activity_value",
                        "description": "Return activity values greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-activity_value",
                        "description": "Return activity values less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-activity_value",
                        "description": "Return activity values less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "activity_unit",
                        "required": false,
                        "enum": [
                            "centimeter",
                            "day",
                            "degree_celsius",
                            "gram",
                            "gram_per_liter",
                            "hour",
                            "international_unit_per_liter",
                            "kilogram",
                            "liter",
                            "microgram_per_milliliter",
                            "micrometer",
                            "micromolar",
                            "milligram_per_deciliter",
                            "milligram_per_milliliter",
                            "millimeter",
                            "millimolar",
                            "milli_second",
                            "minute_time",
                            "molar",
                            "nanogram_per_milliliter",
                            "nanomolar",
                            "percent",
                            "picogram_per_milliliter",
                            "picomolar",
                            "second_time"
                        ],
                        "description": "The unit in which {activity_value} is given. See /pharmacology/filters/units/pages?activity_type={activity_type} for allowed values. For e.g. IC50: /pharmacology/filters/units/pages?activity_type=IC50",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "activity_relation",
                        "description": "The relation reported. e.g. '>' for IC50 > X",
                        "required": false,
                        "enum": [
                            ">",
                            ">=",
                            "=",
                            "<",
                            "<="
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "pChembl",
                        "description": "Return activities with a pChembl value equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "min-pChembl",
                        "description": "Return activities with a pChembl value greater than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "minEx-pChembl",
                        "description": "Return activities with a pChembl value greater than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "max-pChembl",
                        "description": "Return activities with a pChembl value less than or equal to this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "maxEx-pChembl",
                        "description": "Return activities with a pChembl value less than this number.",
                        "type": "number",
                        "format": "double",
                        "in": "query"
                    },
                    {
                        "name": "target_type",
                        "description": "One of the types listed at /target/types.",
                        "required": false,
                        "enum": [
                            "admet",
                            "chimeric_protein",
                            "nucleic_acid",
                            "organism",
                            "phenotype",
                            "ppi",
                            "protein_complex",
                            "protein_complex_group",
                            "protein_family",
                            "protein_selectivity_group",
                            "single_protein",
                            "sub_cellular",
                            "tissue",
                            "unclassified",
                            "unknown"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "data_validity_issue",
                        "description": "ChEMBL data validity issue annotation. One of: true, false.",
                        "required": false,
                        "enum": [
                            "true",
                            "false"
                        ],
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "data_validity_comment",
                        "description": "ChEMBL data validity issue annotation. One of: 'Manually validated', 'Non standard unit for type','Outside typical range' ,'Potential missing data', 'Potential transcription error', 'Potential author error', 'Author confirmed error'.",
                        "required": false,
                        "enum": [
                            "Manually validated",
                            "Non standard unit for type",
                            "Outside typical range",
                            "Potential missing data",
                            "Potential transcription error",
                            "Potential author error",
                            "Author confirmed error"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "potential_duplicate",
                        "description": "ChEMBL potential duplicate annotation. One of: true, false.",
                        "required": false,
                        "enum": [
                            "true",
                            "false"
                        ],
                        "in": "query",
                        "type": "boolean"
                    },
                    {
                        "name": "target_conf_score",
                        "description": "ChEMBL Target confidence score. An integer denoting the confidence of the target assigned. 0: Default value - Target unknown or has yet to be assigned; 1: Target assigned is non-molecular; 2: Target assigned is subcellular fraction; 3: Target assigned is molecular non-protein target; 4: Multiple homologous protein targets may be assigned; 5: Multiple direct protein targets may be assigned; 6: Homologous protein complex subunits assigned; 7: Direct protein complex subunits assigned; 8: Homologous single protein target assigned; 9: Direct single protein target assigned",
                        "required": false,
                        "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9"
                        ],
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "target_rel_type",
                        "description": "ChEMBL Assay relationship type annotation. A single capital letter as follows. U: Default value - Target has yet to be curated; D: Direct protein target assigned; H: Homologous protein target assigned; M: Molecular target other than protein assigned; N: Non-molecular target assigned; S: Subcellular target assigned",
                        "required": false,
                        "enum": [
                            "U",
                            "D",
                            "H",
                            "M",
                            "N",
                            "S"
                        ],
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "_format",
                        "description": "The desired result format.",
                        "enum": [
                            "json",
                            "tsv",
                            "ttl",
                            "xml",
                            "rdf",
                            "rdfjson",
                            "html"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "_callback",
                        "description": "For JSONP",
                        "type": "string",
                        "in": "query"
                    },
                    {
                        "name": "_metadata",
                        "description": "Additional metadata to be included with response.",
                        "enum": [
                            "execution",
                            "site",
                            "formats",
                            "views",
                            "all"
                        ],
                        "type": "string",
                        "required": false,
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/compound/tree/pharmacology/pages": {
            "get": {
                "summary": "Compound Class Pharmacology: List",
                "description": "Returns a list of activity types, values and units in the linked data cache (LDC) for a user specified compound class. Filtering of results is possible via a variety of options such as: target organism, activity type, activity value, etc. Currently only the ChEBI Ontology is supported.<br><hr><br>Response template: <br><br><hr><br>  ?item <span style=\"BACKGROUND-COLOR: #66FFCC\"> chembl:hasMolecule ?chembl_compound </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:standardType ?activity_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:standardRelation ?activity_relation </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:standardValue ?activity_value </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:hasQUDT ?qudt_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedType ?published_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedRelation ?published_relation </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedValue ?published_value </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:publishedUnits ?published_unit </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:dataValidityIssue ?issue </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:dataValidityComment ?comment </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> ops:potentialDuplicate ?dup </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> chembl:hasAssay ?assay_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:pChembl ?pChembl </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:activityComment ?act_comment </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:hasDocument ?doi </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> bibo:pmid ?pmid </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #66FFCC\"> void:inDataset &lt;http://www.ebi.ac.uk/chembl&#xfeff;&gt; </span> .<br> ?qudt_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> skos:prefLabel ?activity_unit </span> .<br> ?assay_uri <span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:hasTarget ?target_uri </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:assayOrganismName ?assay_organism </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> dcterms:description ?assay_description </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> chembl:assayTestType ?assay_type </span> ;<br> &nbsp;&nbsp;&nbsp;&nbsp;<span style=\"BACKGROUND-COLOR: #FFFFCC\"> dcterms:description ?assay_description </spa
[...]
